body{
    background-color:indigo;
    text-emphasis: center;
}

    #div1
    {  padding-top: 70px;
        
        text-align: center;
        color:gold;
        font-size: larger;
        font-style:italic;
    
        font-weight:bold;
        align-content: center;


        
    }
#div4
{
    padding-left:50px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: center
    ;
}
#div2
{
    text-align: center;
}
#div3
{
    text-align: center;
}
#texts
{
    text-align: center;
}
